a:link{
    color:blue;
}
a:visited{
    color:brown;
}
a:hover{
    color:aqua;
}
a:active{
    color:yellow;
}
::selection{
    color:aqua;
    background:black;
}
img{
    width:300px;
    height:100px;
    opacity:0.4;
}
img:hover{
    width: 360px;
    height: 120px;
    opacity:1.0;
}
